.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.card .card-title.activator {
    cursor: pointer;
}

.card.small, .card.medium, .card.large {
    position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card card-image {
    height: 175.5px;
    weight: 175.5px;
}

.card.small {
    height: 175.5px;
    weight: 175.5px;
}

.card.small .card-image {
    height: 175.5px;
    weight: 175.5px;
}

.card.small .card-content {
    height: 175.5px;
    weight: 175.5px;
}

.card.medium {
    height: 175.5px;
    weight: 175.5px;
}

.card.medium .card-image {
    height: 175.5px;
    weight: 175.5px;
}

.card.medium .card-content {
    height: 175.5px;
    weight: 175.5px;
}

.card.large {
    height: 175.5px;
    weight: 175.5px;
}

.card.large .card-image {
    height: 175.5px;
    weight: 175.5px;
}

.card.large .card-content {
    height: 175.5px;
    weight: 175.5px;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px; }

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card .card-action a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #ffd8a6;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}

.shareModal{
    width: 50% !important;
}

.shareModal ul, #share-container ul {
    width: 100%;
}

.shareModal li, #share-container li{
    background-color: #f0f0f0;
    display: flex;
    margin: 12px 0px 12px 0px !important;
    padding: 5px;
}

.shareModal li:hover, #share-container li:hover{
    background-color: #e0e0e0;
}

.shareBlock{
    display: flex;
    justify-content: center;
    width:100%;
}

.shareDesc{
    display: flex;
    flex-direction: column;
}

.shareDesc p{
    margin: 8px;
    margin: 8px;
    font-size: 12pt;
}

.shareCheck{
    display: flex;
    align-items: center;
    justify-content: center;
}