#main-header {
    display: flex;
    align-items: center;
}

.cardGames {
    margin-top: 15px;
}

/* group/show modal styles */
#modal-users {
    height: 100vh;
    width: 50% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 100vh;
}

#modal-users .group-members-collection-container {
    max-height: 85vh;
    overflow-y: auto;
}

@media only screen and (max-width: 992px) {
    #modal-users{
        width: 100vw !important;
    }
}