.img-input-container,
.img-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .input-field {
    margin-top: 0px;
}

.g-recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    margin-left:auto;
    margin-right: auto;
    display: table;
}
