/* layout for the index page (static) */

    .sidenav li.active{
        background-color: lightgrey;

    }

    ul.side-nav.leftside-navigation {
        top: 64px;
    }

    #left-sidebar-nav {
        position: fixed;
        width: 100px;
        left: 180px;
        z-index: 999;
        height: auto;
    }

/* end of layout for the index page (static) */

/* layout of login page */
    span.align-with-icon-tiny {
        position: relative;
        bottom: 0.4rem;
    }

    span.align-with-icon-small {
        position: relative;
        bottom: 0.5rem;
    }

    .suffix {
        position: absolute;
        pointer-events: none;
        right: 0.5rem;
        top: 0.75rem;
    }

    span.invalid-input {
        font-size: 0.8rem;
        position: absolute;
        top: 3.1rem;
        left: 3.75rem;
        color: #F44335;
    }

    span.invalid-textarea {
        font-size: 0.8rem;
        position: absolute;
        top: 8.1em;
        left: 3.75rem;
        color: #F44335;
    }

    .help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #737373;
    }
/* end layout of login page */


/* dashboard page */

    .stars img {
        margin-left: -5px;
    }

    .opt {
        margin-top: 12px;
    }



    .card .card-content .card-title{
        line-height: 20px;

    }

    .card .subtitle-container, .card .stars-container {
        display: block;
        position: relative;
        width: 100%;
    }

    .tiny-stars img {
        margin-left: -6px;
    }

    .gray-color {
        color: gray !important;
    }
/* end dashboard page */


footer.page-footer{
    background-color: #5D4037;
}


/* header for all pages */
    nav {
        background-color: #5D4037;
    }

    nav img.logo {
        height: 44px;
    }

    nav ul li a {
        height: 64px;
    }

    nav ul li a img {
        margin-top: 0px;
    }

    .logo-icon img {
        height: 40px;
        margin-top: 10px;
    }

    nav ul li ul li a {
        color: #212121;
        line-height: 4.5em;
    }

    .profile-pic {
        margin-top: 14px;
        width: 36px;
    }

    .profile-pic-menu {
        height: 64px;
    }

    #profile-picture {
        max-width: 6rem;
        max-height: 6rem;
    }

    .center {
        margin: 0 auto;
    }

    .my-dropdown-menu {
        background-color: #FFFFFF;
        display: none;
        min-width: 373px;
        margin-top: 4rem;
    }

    #dropdown-settings .collection-item {
        width: 100% !important;
    }

    /*.title {*/
        /*color: #212121;*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
    /*}*/

    .secondary-color {
        color: #727272 !important;
    }

    .no-margin-bottom {
        margin-bottom: 0px;
    }

    .no-margin-top {
        margin-top: 0px !important;
    }

    .my-orange, button:focus {
        background-color: #FF5722 !important;
    }

    .btn-flat i {
        line-height: 36px !important;
    }

    .margin-top {
        margin-top: 10px;
    }

    .margin-bottom {
        margin-bottom: 5px;
    }

    .input-field button:hover {
        background-color: #FF5722;
    }


    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #FF5722;
        box-shadow: 0 1px 0 0 #FF5722;
    }

    input[type=text]:focus:not([readonly]) + label,
    input[type=password]:focus:not([readonly]) + label,
    input[type=email]:focus:not([readonly]) + label,
    input[type=url]:focus:not([readonly]) + label,
    input[type=time]:focus:not([readonly]) + label,
    input[type=date]:focus:not([readonly]) + label,
    input[type=datetime-local]:focus:not([readonly]) + label,
    input[type=tel]:focus:not([readonly]) + label,
    input[type=number]:focus:not([readonly]) + label,
    input[type=search]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
        color: #FF5722 !important;
    }

    .input-field .prefix.active {
        color: #FF5722 !important;
    }

    .g-recaptcha div div {
        margin: 0 auto;
    }

    .with-marker li {
        list-style-type: disc;
        margin-left: 30px;
        text-align: left;
    }

    span.input-description {
        font-size: 0.8rem;
        /*position: absolute;*/
        top: 3.1rem;
        color: #9e9e9e;
    }

    /* left navbar */
        .padding-10 {
            padding: 10px;
        }

        .margin-10 {
            margin: 10px;
        }

        .left-sidebar-nav {
            padding-left: 0px;
            width: 200px;
            text-align: left;
        }

        #side-nav * {
            color: #212121;
            font-size: 14.5px;
        }

        #side-nav li {
            margin: 5px;
            height: 42px;
            padding: 0px;
        }

        #side-nav li a i {
            line-height: inherit;
            width: 2rem;
            font-size: 1.6rem;
            display: block;
            float: left;
            /*text-align: center;*/
            margin-right: 1rem;
        }

        #side-nav a {
            line-height: 42px;
            height: 42px;
            font-size: 14px;
            display: block;
        }

        #side-nav li:hover {
            background-color: #B6B6B6;
        }
    /* end left navbar */

    /* only in medium and large displays */
        @media only screen and (min-width: 601px) {
            nav i {
                font-size: 30px !important;
                line-height: 64px !important;
            }

            .remar-max-size {
                width: 992px;
            }

            .min-height-size {
                min-height: 300px;
            }

            .content {
                width: calc(992px - 200px);
            }

            .logo-icon {
                height: 64px;
            }

            .card.show-personalize > .card-content button{
                margin-top: -63px !important;
            }

            .my-left {
                left: 215px;
            }
        }
        /* end only in large displays */

        /* small and medium displays */
            @media only screen and (max-width: 992px) {
                .remar-max-size {
                    width: 100%;
                    flex: 1 0 auto;
                }

                .small-logo {
                    height: 56px;
                }

                .logo-icon {
                    height: 56px;
                }

                .side-nav {
                    width: 215px;
                }

                .side-nav li a i {
                    line-height: inherit;
                    width: 2rem;
                    font-size: 1.6rem;
                    float: left;
                    margin-right: 1rem;
                }

                .content {
                    width: 100%;
                }

                .my-position {
                    right: 45px;
                    bottom: 45px;
                }

                .my-left {
                    left: 30%;
                }
            }

        /* end small and medium displays */
/* medium displays only */
@media only screen and (max-width: 992px) and (min-width: 601px) {

            .logo-icon {
                height: 64px;
            }
        }

@media only screen and (min-width: 992px) {
    .my-position {
        right: calc((100% - 992px)/2);
        bottom: 45px;
    }
}
/* end medium displays only */

/* end header for all pages */

.btn.my-orange:hover {
    background-color: #ff5722;
}

.margin-left {
    margin-left: 10px !important;
}


.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
    text-align: left;
}

.dropbown {
    position: relative;
}

.info-box-text {
    text-transform: uppercase;
}

.progress-description, .info-box-text {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}.clear {
    clear: both;
}

/*.
.show-personalize{*/
    /*padding: 20px;*/
/*}*/

.card.show-personalize .card-content{
   text-align: justify;
}

.card.show-personalize .chip-dev img{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 5px;

}

.card.show-personalize .chip-dev p{
    /*background-color: transparent;*/
    font-size: 1.0em;
    color: rgba(0, 0, 0, 0.6);
    /*margin-top: 15px;*/
    padding-top: 10px;

}


.category{
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    margin-top:10px;
    margin-bottom: 10px;
}

.category p{
    display: inline-block;
}


.category > .stars{
    display: inline-block;
    float: right;
}

.plataform{
    text-align: left;
    font-size: 1.5em;
    margin-top:20px;
}

.plataform div{
    display: inline-block;
}


.card-content p{
    color: rgba(0, 0, 0, 0.6) !important;
}

.slider {
    margin-top: 0px;
}


.card-developer.approved{
    border: 2px solid #7cb342;
}

.card-developer.pending{
    border: 2px solid #ffeb3b;
}

.card-developer.rejected{
    border: 2px solid #d50000;
}

.card .card-content {
    padding-bottom: 1px
}

.collapsible-body{
    padding: 10px;
}

.btn-flat:hover{
    background-color: transparent !important;
}

.dashboard-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination li.active{
    background-color: #5D4037;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.social-button{
    font-size:18px;
}
h6{
    font-size: 25px;
    font-weight: 100;
}

h6 span{
    font-weight: 300;
}
.tasks-list ul > a li:hover{
    background-color: #B6B6B6;
}


table .pending td{
    /*background-color: #fffde7;*/
}

.collapsible-body p {
     margin: 15px;
     padding: 0;
     text-align: left;
}

.collapsible-body p > label {
   font-size: 25px;
    color: rgba(0, 0, 0, 0.6);
}

.collapsible-body p[class="title"]{
    margin: 0;
    padding: 0;

}


.social-button ul li a{
    font-size: 30px;
}

.plataform-card{
    margin-top: 10px;
}

.platforms p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.send-publish{
    margin-top: 25px;
}

.description{
    white-space: pre-line;
    margin-bottom: 20px !important;
}

.pagination a li {
    color: #444
}

.checkbox-label{
    font-size: 1.2em !important;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
}

#comment-btn{
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.collection.rating{
    border: 0;
    margin-top: 20px;
}

.game-owner{
    margin-top: 0;
    width: 30px;
}

.comment-text{
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 20px;
}

.modal h4{
    border-bottom: 1px solid #e0e0e0;
}

.rating-desc{
    white-space: pre-line;
}

.rating-stars{
    margin-left: -5px;
}

.stars-font{
    font-size: 12px;
    color:rgba(0, 0, 0, 0.6) !important
}

.my-dropdown{
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 60px;
    max-height: 650px;
    /*overflow-y: auto;*/
    opacity: 0;
    /*position: absolute;*/
    z-index: 99999;
    /*border: 1px solid black;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.my-dropdown li {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
.my-dropdown li:hover, .dropdown-content li.active {
    background-color: #eee; }

.my-dropdown li > a {
    font-size: 1.2rem;
    color: #26a69a;
    display: block;
    padding: 0.5rem 1.5rem; }

/*.my-dropdown li > a > i {*/
    /*height: inherit;*/
    /*line-height: inherit; }*/
















/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!*/
.carousel-wrapper {
    float: left;
    border: 10px solid white;
    height: 220px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 10px;
    border: 0;

    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/* medium displays only */
@media only screen and (max-width: 992px) and (min-width: 601px) {

    .carousel-wrapper {
        width: 86%;
    }
}

/* large display only */
@media only screen and (min-width: 992px) {
    .carousel-wrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-wrapper {
        width: 78%;
    }
}

.swiper-container {
    width: 100%;
    height: 210px;
}

.swiper-button-prev, .swiper-button-next {
    float: left !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: 100px !important;
    text-align: center !important;
    /*background-image: none !important;*/
    background: #5d4037 !important;
    color: white !important;
    text-decoration: none !important;
    text-shadow: 0 0 1px #000 !important;
    font: 24px/27px Arial, sans-serif !important;
    position: relative !important;
    left: 0px !important;

    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    border-radius: 30px !important;

    -webkit-box-shadow: 0 0 2px #999 !important;
    -moz-box-shadow: 0 0 2px #999 !important;
    box-shadow: 0 0 2px #999 !important;
}

.swiper-wrapper {
    height: 96% !important;
}

.my-max-height {
    height: 250px !important;
}

.big-platform-logo {
    font-size: 5em !important;
}

.collapsible.popout > li {
    width: 97% !important;
    margin: 16px auto !important;
}

.my-div {
    float: left;
    width: 25%;
}

/*.collapsible-header {*/
    /*border-top: 1.2px solid darkgray;*/
/*}*/

.c .collapsible-header {
    border-top: none;
}

.data-container {
    border: 1px solid lightgray;
    border-radius: 2px;
}

.colored {
    height: 60px !important;
    overflow: hidden !important;
}

.data-right .colored {
    background-color: #82daca;
}

.data-wrong .colored {
    background-color: #eb6379;
}

.data-item {
    text-align: left;
    padding: 5px;
    padding-left: 24px !important;
}

.data-item i {
    position: absolute;
    left: 0;
}

.data-wrong .data-item i {
    color: red;
}

.data-right .data-item i {
    color: green;
}

.green-bordered {
    border: 1px dotted green;
}.big-platform-logo {
    font-size: 5em !important;
}

.collapsible.popout > li {
    width: 97% !important;
    margin: 16px auto !important;
}

.plataforms-link{
    color: #039be5 !important;
}

.bold{
    font-weight: bold;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.dropdown-button i{
    cursor: pointer;
}
.tabs{
    margin-top: 10px;
}

.tabs .tab a{
    color: rgba(0, 0, 0, 0.87);
    /*border-bottom: 1px solid;*/
    /*border-color: #e0e0e0;*/
    /*border-color: #FF5722;*/
}

.tabs .tab a:hover{
    color: rgba(0, 0, 0, 0.40);
}

.tabs .tab a[class="active"]{
    /*border-top: 1px solid;*/
    /*border-right: 1px solid;*/
    /*border-left: 1px solid;*/
    /*border-bottom: none !important;*/
    /*border-radius: 20px 20px 0 0;*/
    /*border-color: #e0e0e0;*/
    /*border-color: #FF5722;*/
}

.tabs .indicator{
    background-color:#FF5722;
    /*display: none !important;*/
}

.width-position{
    position: relative;
    left: 1em;
}

/*.card-info{*/
    /*margin-top: 20px;*/
/*}*/

/*nao implementado no materialize*/
.nav-breadcrumb {
    background-color: transparent;
    box-shadow: none !important;
    margin: 20px 0 20px 0;
}

.nav-breadcrumb a{
    color: rgba(255,87,34,0.8);
    font-size: 3.5vmin;
}

.breadcrumb.active, .first-breadcrumb.active{
    color: #FF5722 !important;
    font-size: 3.5vmin;
}

.breadcrumb, .first-breadcrumb {
    font-size: 18px;
    color: rgba(255,255,255,0.7);
}

.breadcrumb:before {
    content: '\E5CC';
    color: rgba(255,87,34,0.8);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 3.5vmin;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

.div-close a{
    font-size: 30px;
}

.title-page{
    font-size: 25px;
}

.text-justify{
    text-align: justify !important;
}