.offset-vertical-15 {
    margin-top: 15%;
}

.offset-vertical-10 {
    margin-top: 10%;
}

.offset-vertical-5 {
    margin-top: 5%;
}

span.align-with-icon-tiny {
    position: relative;
    bottom: 0.4rem;
}

span.align-with-icon-small {
    position: relative;
    bottom: 0.5rem;
}

.suffix {
    position: absolute;
    pointer-events: none;
    right: 0.5rem;
    top: 0.75rem;
}

span.invalid-input {
    font-size: 0.8rem;
    position: absolute;
    top: 3.1rem;
    left: 3.75rem;
    color: #F44335;
}

.g-recaptcha div div {
    margin: auto;
}

.profile-picture {
    max-width: 6rem;
    max-height: 6rem;
}