/* layout for the index page (static) */

    ul.side-nav.leftside-navigation {
        top: 64px;
    }

    #left-sidebar-nav {
        position: fixed;
        width: 100px;
        left: 180px;
        z-index: 999;
        height: auto;
    }

/* end of layout for the index page (static) */

/* layout of login page */
    span.align-with-icon-tiny {
        position: relative;
        bottom: 0.4rem;
    }

    span.align-with-icon-small {
        position: relative;
        bottom: 0.5rem;
    }

    .suffix {
        position: absolute;
        pointer-events: none;
        right: 0.5rem;
        top: 0.75rem;
    }

    span.invalid-input {
        font-size: 0.8rem;
        position: absolute;
        top: 3.1rem;
        left: 3.75rem;
        color: #F44335;
    }

    .help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #737373;
    }
/* end layout of login page */


/* header for all pages */
    nav {
        background-color: #5D4037;
    }

    nav img.logo {
        height: 44px;
    }

    nav ul li a {
        height: 64px;
    }

    nav ul li a img {
        margin-top: 0px;
    }

    .logo-icon img {
        height: 40px;
        margin-top: 10px;
    }

    nav ul li ul li a {
        color: #212121;
        line-height: 4.5em;
    }

    .profile-pic {
        margin-top: 14px;
        width: 36px;
    }

    #profile-picture {
        max-width: 6rem;
        max-height: 6rem;
    }

    .center {
        margin: 0 auto;
    }

    .my-dropdown-menu {
        background-color: #FFFFFF;
        display: none;
        min-width: 330px;
        margin-top: 4rem;
    }

    #dropdown-settings .collection-item {
        width: 100% !important;
    }

    .title {
        color: #212121;
        font-size: 18px;
        font-weight: bold;
    }

    .secondary-color {
        color: #727272 !important;
    }

    .no-margin-bottom {
        margin-bottom: 0px;
    }

    .my-orange, button:focus {
        background-color: #FF5722;
    }

    .btn-flat i {
        line-height: 36px !important;
    }

    .margin-top {
        margin-top: 10px;
    }

    .input-field button:hover {
        background-color: #FF5722;
    }

    /*.input-field .prefix.active {
        color: #FF5722;
    }*/

    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #FF5722;
        box-shadow: 0 1px 0 0 #FF5722;
    }

    input[type=text]:focus:not([readonly]) + label,
    input[type=password]:focus:not([readonly]) + label,
    input[type=email]:focus:not([readonly]) + label,
    input[type=url]:focus:not([readonly]) + label,
    input[type=time]:focus:not([readonly]) + label,
    input[type=date]:focus:not([readonly]) + label,
    input[type=datetime-local]:focus:not([readonly]) + label,
    input[type=tel]:focus:not([readonly]) + label,
    input[type=number]:focus:not([readonly]) + label,
    input[type=search]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
        color: #FF5722 !important;
    }

    .input-field .prefix.active {
        color: #FF5722 !important;
    }

    .g-recaptcha div div {
        margin: 0 auto;
    }

    .with-marker li {
        list-style-type: disc;
        margin-left: 30px;
        text-align: left;
    }

    span.input-description {
        font-size: 0.8rem;
        position: absolute;
        top: 3.1rem;
        color: #9e9e9e;
    }

    /* left navbar */
        .left-sidebar-nav {
            padding-left: 0px;
            width: 200px;
            text-align: left;
        }

        #side-nav * {
            color: #212121;
            font-size: 14.5px;
        }

        #side-nav li {
            margin: 5px;
            height: 42px;
            padding: 0 15px;
        }

        #side-nav li a i {
            line-height: inherit;
            width: 2rem;
            font-size: 1.6rem;
            display: block;
            float: left;
            text-align: center;
            margin-right: 1rem;
        }

        #side-nav a {
            line-height: 42px;
            height: 42px;
            font-size: 14px;
        }

        #side-nav li:hover {
            background-color: #B6B6B6;
        }
    /* end left navbar */

    /* only in large displays */
        @media only screen and (min-width: 601px) {
            nav i {
                font-size: 30px !important;
                line-height: 64px !important;
            }

            .remar-max-size {
                width: 992px;
            }

            .min-height-size {
                min-height: 300px;
            }

            .content {
                width: calc(992px - 200px);
            }

            .logo-icon {
                height: 64px;
            }
        }
        /* end only in large displays */

        /* small and medium displays */
            @media only screen and (max-width: 992px) {
                .remar-max-size {
                    width: 100%;
                }

                .small-logo {
                    height: 56px;
                }

                .logo-icon {
                    height: 56px;
                }
                
                .side-nav {
                    width: 215px;
                }

                .side-nav li a i {
                    line-height: inherit;
                    width: 2rem;
                    font-size: 1.6rem;
                    float: left;
                    margin-right: 1rem;
                }
            }
        /* end small and medium displays */

        /* medium displays only */
        @media only screen and (max-width: 992px) and (min-width: 601px) {
            .logo-icon {
                height: 64px;
            }
        }
        /* end medium displays only */

/* end header for all pages */
