######################
# begin Grails stuff #
######################

*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
*.iml
/logs
.classpath
.project
/grailsw*
/wrapper

# end Grails stuff

##########################################
# begin IntelliJ/IDEs/Text editors stuff #
##########################################
.idea

# end IntelliJ/IDEs/Text editors

#####################
# begin REMAR stuff #
#####################

/web-app/data
/web-app/processes
/web-app/published
/web-app/wars
/grails-app/conf/env.properties
/grails-app/conf/env-dspace.properties
/web-app/images/labteca-banner.png
!web-app/data/users/admin/profile-picture

propeller

# end REMAR stuff

