ProjetoREMAR/*.iws
ProjetoREMAR/*Db.properties
ProjetoREMAR/*Db.script
ProjetoREMAR/.settings
ProjetoREMAR/stacktrace.log
ProjetoREMAR/*.zip
ProjetoREMAR/plugin.xml
ProjetoREMAR/*.log
ProjetoREMAR/*DB.*
ProjetoREMAR/cobertura.ser
ProjetoREMAR/.DS_Store
ProjetoREMAR/target/
ProjetoREMAR/out/
ProjetoREMAR/web-app/plugins
ProjetoREMAR/web-app/WEB-INF/classes
ProjetoREMAR/.link_to_grails_plugins/
ProjetoREMAR/target-eclipse/
ProjetoREMAR/*.iml
ProjetoREMAR/.idea
ProjetoREMAR/web-app/moodle/*
.DS_Store

MathJong/*.iws
MathJong/*Db.properties
MathJong/*Db.script
MathJong/.settings
MathJong/stacktrace.log
MathJong/*.zip
MathJong/plugin.xml
MathJong/*.log
MathJong/*DB.*
MathJong/cobertura.ser
MathJong/.DS_Store
MathJong/target/
MathJong/out/
MathJong/web-app/plugins
MathJong/web-app/WEB-INF/classes
MathJong/.link_to_grails_plugins/
MathJong/target-eclipse/
MathJong/*.iml
MathJong/.idea

QuiForca/*.iws
QuiForca/*Db.properties
QuiForca/*Db.script
QuiForca/.settings
QuiForca/stacktrace.log
QuiForca/*.zip
QuiForca/plugin.xml
QuiForca/*.log
QuiForca/*DB.*
QuiForca/cobertura.ser
QuiForca/.DS_Store
QuiForca/target/
QuiForca/out/
QuiForca/web-app/plugins
QuiForca/web-app/WEB-INF/classes
QuiForca/.link_to_grails_plugins/
QuiForca/target-eclipse/
QuiForca/*.iml
QuiForca/.idea

Ortotetris/*.iws
Ortotetris/*Db.properties
Ortotetris/*Db.script
Ortotetris/.settings
Ortotetris/stacktrace.log
Ortotetris/*.zip
Ortotetris/plugin.xml
Ortotetris/*.log
Ortotetris/*DB.*
Ortotetris/cobertura.ser
Ortotetris/.DS_Store
Ortotetris/target/
Ortotetris/out/
Ortotetris/web-app/plugins
Ortotetris/web-app/WEB-INF/classes
Ortotetris/.link_to_grails_plugins/
Ortotetris/target-eclipse/
Ortotetris/*.iml
Ortotetris/.idea
