ProjetoREMAR/*.iws
ProjetoREMAR/*Db.properties
ProjetoREMAR/*Db.script
ProjetoREMAR/.settings
ProjetoREMAR/stacktrace.log
ProjetoREMAR/*.zip
ProjetoREMAR/plugin.xml
ProjetoREMAR/*.log
ProjetoREMAR/*DB.*
ProjetoREMAR/cobertura.ser
ProjetoREMAR/.DS_Store
ProjetoREMAR/target/
ProjetoREMAR/out/
ProjetoREMAR/web-app/plugins
ProjetoREMAR/web-app/WEB-INF/classes
ProjetoREMAR/.link_to_grails_plugins/
ProjetoREMAR/target-eclipse/
ProjetoREMAR/*.iml
ProjetoREMAR/.idea
.DS_Store

