[submodule "QuiForca/web-app/remar/source"]
	path = QuiForca/web-app/remar/source
	url = https://github.com/LOA-SEAD/quiforca
[submodule "MathJong/web-app/remar/source"]
	path = MathJong/web-app/remar/source
	url = https://github.com/LOA-SEAD/mathjong
