[submodule "Forca/web-app/remar/source"]
	path = Forca/web-app/remar/source
	url = https://github.com/LOA-SEAD/quiforca
        branch = forca
[submodule "MahJong/web-app/remar/source"]
	path = MahJong/web-app/remar/source
	url = https://github.com/LOA-SEAD/mathjong
[submodule "EscolaMagica/web-app/remar/source"]
	path = EscolaMagica/web-app/remar/source
	url = https://github.com/LOA-SEAD/escola_magica
	branch = exported
[submodule "RespondaSePuder/web-app/remar/source"]
	path = RespondaSePuder/web-app/remar/source
	url = https://github.com/LOA-SEAD/responda_se_puder
	branch = exported
[submodule "SantoGrau/web-app/remar/source"]
	path = SantoGrau/web-app/remar/source
	url = https://github.com/LOA-SEAD/santo-grau
	branch = exported
