.user-profile-card {
  background-color: #f4f4f4;
  width: 300px !important;
  margin: 10px auto;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.user-profile-card-header {
  overflow: hidden;
  width: 100%;
  max-height: 300px;
}

.user-profile-card-header img{
  width: 100%;
}

.user-profile-card-content {
  width: 85%;
  margin: 35px auto;
  text-align: left;
}

.user-profile-card-content h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}

.user-profile-card-content h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}

.user-profile-card-content p {
  color: #727272;
  font-size: 12px;
}

.user-profile-card-footer {
  border-top: solid 1px #B6B6B6;
  padding: 5px;
}

.user-profile-card-footer ul {
  padding: 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.user-profile-card-footer ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.user-profile-card-footer ul li i {
  font-size: 2em;
  color: #3F51B5;
}

.modal h4 {
    border: none;
}
