/*
 * Root Styling (Global Variables)
 */
:root {
    --border-width: 2px;
    --img-container-padding: 4px;
    --img-container-size: 180px;
    --img-size: calc(var(--img-container-size) - (var(--border-width) + var(--img-container-padding)) * 2);
}

/*
 * General Styling
 */

.card .card-action a {
    margin-right: 0px;
}

.file-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

#submitButton {
    text-align: center;
}

/*
 * Update Profile Picture Specific Styling
 */

.img-input-container {
    width: var(--img-container-size);
    height: var(--img-container-size);
    position: relative;
    padding: var(--img-container-padding);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: 2px;
    border-color: rgb(93, 64, 55);
    margin-top: 20px;
}

#img-preview,
#img-update-button-effect,
#img-update-button-container {
    position: absolute;
}

#img-preview,
#profile-picture {
    max-width: var(--img-size);
    max-height: var(--img-size);
    width: var(--img-size);
    height: var(--img-size);
}

#profile-picture {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: lightgray;
}

#img-update-button-effect,
#img-update-button-container {
    bottom: var(--img-container-padding);
    width: var(--img-size);
    background-color: rgba(0, 0, 0, 0);
    height: 0;
    overflow: hidden;
    cursor: pointer;

    -webkit-transition: background-color .2s ease-out, height .2s, -webkit-transform .2s;
    -moz-transition: background-color .2s ease-out, height .2s, -moz-transform .2s;
    -ms-transition: background-color .2s ease-out, height .2s, -ms-transform .2s;
    transition: background-color .2s ease-out, height .2s, transform .2s
}

#img-preview:hover ~ #img-update-button-container,
#img-update-button-container:hover {
    background-color: rgba(0, 0, 0, .6);
    display: block;
    height: 25%;
    z-index: 10;
}

#img-update-button {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 100%;
}

.file-field-icon {
    color: rgb(240, 240, 240);
    font-size: 18px;

    -webkit-transform: translate3d(0px, 50px, 0px) scale(3);
    -moz-transform: translate3d(0px, 50px, 0px) scale(3);
    -ms-transform: translate3d(0px, 50px, 0px) scale(3);
    transform: translate3d(0px, 50px, 0px) scale(3);

    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
}

#img-preview:hover ~ #img-update-button-container #img-update-button .file-field-icon,
#img-update-button-container:hover #img-update-button .file-field-icon {
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
    -moz-transform: translate3d(0px, 0px, 0px) scale(1);
    -ms-transform: translate3d(0px, 0px, 0px) scale(1);
    transform: translate3d(0px, 0px, 0px) scale(1);
}

.file-field-text {
    margin-left: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.34;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
}

#file {
    display: none;
}

/*
 * Disable Account Card Specific Styling
 */
#disableAccountCard {
    margin-top: 10px;
}

#disableAccountCard .card .card-header {
    background-color: #e00011 !important;
}

#disableAccountCard .card-header .card-title {
    font-weight: 500;
}

#disableAccountCard .card .card-content {
    padding-bottom: 20px;
}

#disableAccountCard .card .card-action {
    border-top: 0px;
}

#disableAccountCard .card .card-action a {
    color: #e00011;
    background-color: #fafbfc;
    background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    background-size: 110% 110%;
    margin-right: 0px;
}

#disableAccountCard .card .card-action a:hover {
    color: #fafbfc;
    background-color: #e00011;
    background-image: -webkit-linear-gradient(270deg, #e00011 0%, #cb2431 90%);
    background-image: linear-gradient(-180deg, #e00011 0%, #cb2431 90%);
    border-color: rgba(27,31,35,0.5);
}

#disableAccountCard .card .card-action a:active,
#disableAccountCard .card .card-action a:selected {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
