//
   Created by renerbaffa on 21/11/15.

//
 Created by renerbaffa on 20/11/15.

doctype html

html
  head
    include layout/head
  body
    include layout/header

    //ul#nav-mobile.side-nav.leftside-navigation.ps-container.ps-active-y
    aside#left-sidebar-nav
      ul#slide-out.side-nav.leftside-navigation.ps-container.ps-active-y
        +menu("https://remar.readme.io/docs", "Documentação", "description")
        +menu("/login", "Entrar", "input")

    //start main
    #main
      #wrapper
        section#content
          .container
            .row
              .col.s12
                .margin-bottom.margin-top
                  a(href="http://www.loa.sead.ufscar.br/", target="_blank")
                    img(src="/images/logo/loa-topo.png")
                .center-align
                  img(src="/images/logo-remar-preto-transparente.png").logo-index
                p.center-align.no-margin-top Recursos Educacionais Multiplataforma Abertos na Rede
                h3 GT-REMAR
                p.justified.
                  Este projeto encontra-se no contexto dos grupos de trabalho (GTs) Temáticos em EAD (sub-tema: Universidade Aberta OnLine) da RNP.
                  O GT-REMAR tem como objetivo facilitar e ampliar a construção e o reuso de recursos educacionais abertos (REA), por meio de um serviço,
                  na forma de uma plataforma web, que ofereça ferramentas que facilitem a construção e a customização de REA, seguindo diretrizes que favoreçam
                  o reuso, a disponibilização desses recursos em diferentes plataformas, bem como a integração com ambientes virtuais de aprendizagem. Espera-se obter
                  como resultados: (i) um conjunto de diretrizes para o desenvolvimento de REA reutilizáveis, adaptáveis, multiplataforma e acessíveis; (ii) um protótipo
                  da plataforma, que deverá ser testado e validado por meio do desenvolvimento e adaptação de REA pelo grupo proponente, em conjunto com instituições parceiras.
                h3 Descrição
                p.justified.
                  O acesso aberto a recursos educacionais é um requisito essencial para a educação democrática, de qualidade, sustentável e aberta, em qualquer modalidade
                  (presencial, a distância, híbrida) e em todos os níveis de formação. Além do acesso, o reuso de recursos educacionais deve ser promovido, considerando que o
                  desenvolvimento desses recursos, em geral, é um processo bastante dispendioso e requer um trabalho conjunto entre especialistas do conteúdo e uma equipe
                  multidisciplinar, sobretudo quando consideramos os recursos educacionais interativos e que integram diferentes mídias e tecnologias. Dessa forma, este projeto
                  tem como intuito ampliar o acesso aos recursos educacionais abertos, por meio de um serviço, na forma de uma plataforma web, que ofereça ferramentas que facilitem
                  a construção e customização de REA seguindo diretrizes que favoreçam o reuso, bem como a disponibilização desses recursos em diferentes plataformas e a integração
                  com ambientes virtuais de aprendizagem.
          include layout/footer
