h4 div {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 3em;
}

h4 a { display: inline-flex; }
.wrapped { word-wrap: break-word; }
.cluster-header { margin-bottom: 25px; }
.collection { overflow: visible; }
.collection.with-header .collection-item { padding: 20px; }
.collection.with-header .collection-header .row { height: 75px; }
.flex-column { flex-direction: column; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }
.hidden { display: none; }
.image-preview-container { height: 200px; }
.no-margin { margin: 0 !important;}
.no-padding { padding: 0 !important; }
.switch label .lever { background-color: #FF9845 !important; }
.switch label div { display: table; }
.remar-orange, .switch label .lever:after { background-color: #FF5722 !important; }
.remar-orange-text, h4 a, .select-wrapper input { color: #FF5722 !important; }
.remar-red { background-color: #F70000 !important; }
.remar-red-text, .remar-input.invalid + label, label .required-indicator { color: #F70000 !important; }
.remar-brown { background-color: #5D4037 !important; }
.remar-brown-text, .collection-header h4, .dropdown-content li:not(.disabled) > span, .remar-input.valid + label, .remar-input:focus:not([readonly]) + label  { color: #5D4037 !important; }
.remar-black { background-color: #212121 !important; }
.remar-black-text { color: #212121 !important; }
.remar-green { background-color: #4CAF50 !important; }
.remar-green-text { color: #4CAF50 !important; }
.remar-modal { text-align: center; }
.remar-modal .modal-content h4 { border-bottom: 1px solid #E0E0E0; }
.remar-modal .modal-footer a { margin-right: 10px !important; }
.remar-input + label { color: #717171 !important; }
.row.show, .tile-container-title { padding-top: 20px; }
.tile-display-container { height: 450px; }
#difficulty-level { font-weight: 100; }
#fail-modal .modal-content p { line-height: 2.5; }
#image-preview-table { overflow: scroll; }
#tile-display-header h4 { margin-top: 10px; }

blockquote {
    border-color: #FDD835;
    background-color: #FFFDE7;
    font-size: 16px;
    font-weight: 300;
}

.container .row {
    margin-left: auto;
    margin-right: auto;
}

.remar-input {
    color: #413c3c;
    border-bottom: 1px solid #717171 !important;
}

.remar-input:focus, .remar-input.valid {
    border-bottom: 1px solid #5D4037 !important;
    box-shadow: 0 1px 0 0 #5D4037 !important;
}

.remar-input.invalid {
    border-bottom: 1px solid #F70000 !important;
    box-shadow: 0 1px 0 0 #F70000 !important;
}

.switch,
#empty-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-image img {
    border: 1px solid #FF5722;
}

.materialboxed.active {
    max-height: none !important;
    max-width: none !important;
}

#default-image-sizes {
    height: 180px;
    width: 180px;
}


