.dark-brown {
    background-color: #5d4037 !important;
}

.menu {
    margin: 0px;
    padding: 0 0.8rem;
    width: 100%;
}

.logo, .logo:hover {
    background-color: transparent;
}

.logo img {
    width: 130px;
    margin-top: 10px;
}

.logo-min {
    width: 40px !important;
    margin-right: 15px;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper {
        left: 2rem;
    }
}

.padding-right {
    padding-right: 50px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 30px;
}

.my-btn {
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    #main {
        padding-left: 0px;
    }
}

.logo-index {
    width: 450px;
    margin-bottom: 10px;
}

.justified {
    text-align: justify;
}

.no-margin-top {
    margin-top: 0px;
}

.my-side-nav {
  top: 64px;
  left: 0px;
}

ul.side-nav li {
  padding: 0px !important;
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
