//
   Created by renerbaffa on 21/11/15.

//
   Created by renerbaffa on 21/11/15.

//
 Created by renerbaffa on 20/11/15.

doctype html

html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="shortcut icon" href='/images/favicon.png')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(type='text/css' rel='stylesheet', href='/stylesheets/materialize.css' media='screen, projection')
    link(type='text/css' rel='stylesheet', href='/stylesheets/my-style.css')
    link(type='text/css' rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/materialize.js')

    title Projeto REMAR
  body
    script
      include ../../client/javascripts/menu.js

    header
      .navbar-fixed
        nav.dark-brown
          .nav-wrapper
            //menu for large displays
            ul.left.hide-on-med-and-down
              li.logo
                a(href="/")
                  img(src="/images/logo/logo-remar-branco-transparente.png")

            //menu for small and medium displays
            ul.hide-on-large-only
              li.logo.left
                a(data-activates="slide-out").button-collapse.menu-sidebar-collapse.my-btn
                  i.mdi-navigation-menu
              li.logo.right
                a(href="/").padding-right
                  img.logo-min(src="/images/favicon.png")

            //mixin to create the menu for small and medium displays
            mixin mini-menu(href, name, icon)
              li
                a.waves-effect(href=href)
                  i.material-icons= icon
                  = name

    //menu for the index page
    aside#left-sidebar-nav
      ul#slide-out.side-nav.leftside-navigation.ps-container.ps-active-y
        +mini-menu("/", "GT-REMAR", "help")
        +mini-menu("/info", "Mais informações", "info")
        +mini-menu("https://remar.readme.io/docs", "Documentação", "description")
        +mini-menu("/login", "Entrar", "input")

    //start main
    #main
      #wrapper
        section#content
          .container
            .row
              .col.s12
                .margin-bottom.margin-top
                  a(href="http://www.loa.sead.ufscar.br/", target="_blank")
                    img(src="/images/logo/loa-topo.png")
                .center-align
                  img(src="/images/logo/logo-remar-preto-transparente.png").logo-index
                p.center-align.no-margin-top Recursos Educacionais Multiplataforma Abertos na Rede
                h3 Arquitetura
                p.justified.
                  Um esboço da arquitetura da plataforma proposta é apresentado abaixo. Os usuários da plataforma poderão realizar a autoria e/ou adaptação e posterior publicação
                  de instâncias de recursos educacionais abertos (REA), segundo um conjunto de diretrizes para a construção de REA que serão estabelecidas para este serviço. A
                  plataforma proposta disponibilizará, por meio de duas ferramentas (de autoria e de publicação), um conjunto de funcionalidades que visam facilitar: (i) a construção
                  de REA utilizando tecnologia HTML5; (ii) a adaptação dos componentes constituintes do REA para o atendimento de diferentes necessidades (adaptação de conteúdo,
                  interface para dispositivos móveis, acessibilidade); (iii) a geração e publicação de instâncias dos REA para plataformas web, móvel, desktop; (iv) a integração de
                  REA com ambientes virtuais de aprendizagem. As duas primeiras funcionalidades (construção e adaptação) estarão sob a responsabilidade da ferramenta de autoria,
                  enquanto as duas últimas (geração/publicação para múltiplas plataformas e integração com AVA) sob a responsabilidade da ferramenta de publicação.
                p.center
                  img(src="/images/architecture.png").responsive-img.valign
                h3 Equipe

                h5 Coordenação
                li
                  a(href="http://lattes.cnpq.br/5845245549777383") Delano Medeiros Beder
                  |, Departamento de Computação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/8235968002513082") Joice Lee Otsuka
                  |, Departamento de Computação, UFSCar

                h5 Equipe de Desenvolvimento
                li Lucas Fernando Bocanegra, Graduando em Ciência da Computação, UFSCar
                li Marcus Marangon Mourão, Graduando em Ciência da Computação, UFSCar
                li Matheus Vieira Fernandes, Graduando em Ciência da Computação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/3936850286110811") Rener Baffa da Silva
                  |, Mestrando em Ciência da Computação, UFSCar

                h5 Ex-desenvolvedores
                li
                  a(href="http://lattes.cnpq.br/8675003419316612") Alex Roberto Guido
                  |, Pós-Graduando em Ciência da Computação, UFSCar
                li Denis Cappelini, Graduando em Ciência da Computação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/9470649292364278") Pablo Bizzi Mahmud
                  |, Pós-Graduando em Ciência da Computação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/3111439904701090") Rogerio Augusto Bordini
                  |, Pós-Graduando em Educação, UFSCar

                h5 Pesquisadores Colaboradores
                li
                  a(href="http://lattes.cnpq.br/1515286597269486") Daniel Ribeiro Silva Mill
                  |, Departamento de Educação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/1543348404865052") Dulce Márcia Cruz
                  |, Departamento Metodologia de Ensino (MEN), UFSC
                li
                  a(href="http://lattes.cnpq.br/2727662627646050") Fernanda M. Pereira Freire
                  |, Núcleo de Informática Aplicada à Educação, UNICAMP
                li
                  a(href="http://lattes.cnpq.br/0131332176384646") Flavia Linhalis Arantes
                  |, Núcleo de Informática Aplicada à Educação, UNICAMP
                li
                  a(href="http://lattes.cnpq.br/5340922290331025") Izabel Patrícia Meister
                  |, Secretaria de Educação a Distância, UNIFESP
                li
                  a(href="http://lattes.cnpq.br/9826026025118073") Marilde Prado Santos
                  |, Departamento de Computação, UFSCar
                li
                  a(href="http://lattes.cnpq.br/0130140163490918") Silvar Ferreira Ribeiro
                  |, Departamento de Ciência Humanas, UNEB
                li
                  a(href="http://lattes.cnpq.br/0185144417072417") Sílvia Zem-Mascarenhas
                  |, Departamento de Enfermagem, UFSCar
                li
                  a(href="http://lattes.cnpq.br/0246540741711761") Tel Amiel
                  |, Núcleo de Informática Aplicada à Educação, UNICAMP
                li
                  a(href="http://lattes.cnpq.br/3246940231681306") Valeria Sperduti Lima
                  |, Secretaria de Educação a Distância, UNIFESP

                h3 Parceiros
                h5 Instituições
                  p.center
                    img(src="/images/logo/instituicoes/ufscar.png")
                    img(src="/images/logo/instituicoes/unicamp.png")
                    img(src="/images/logo/instituicoes/unifesp.png")
                    img(src="/images/logo/instituicoes/ufsc.png")
                    img(src="/images/logo/instituicoes/uneb.png")

                h5 Investimento
                  p.center
                    img(src="/images/logo/instituicoes/rnp.png")

                h3 Contato
                p.justified.
                  Email: remar@sead.ufscar.br
                  Endereço: Universidade Federal de São Carlos, At3 - Sala 54 - São Carlos - SP

          footer
            .container.center-align.margin-top
              p Copyright © REMAR 2015
