#ac {
    float: right;
    font-size: 2em;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.frame {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.center {
    display: inline-block;
    height: 100%;
}

#mq {
    width: 50%;
    height: 100%;
}

.mjax > span {
    margin: 0.25em;
    cursor: pointer;
}

#preview-table {
    display: inline-block;
}

.selectable {
    cursor: pointer;
}

#preview-tabe > tr > td {
    margin-right: 20px;
}

.math {
    font-size: 1.5em;
}

td {
    padding: 0px 15px !important;
}