@import "jquery.ui.css";

html, body, div, p, a, ul, li, section, h1, h2, h3, h4, h5, .peca
{
	/*Fazendo o html não ser selecionavel*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1em;
	font-family: sans-serif;
}

body {
	background-image: url(../imgs/fundo.png);
	background-repeat: repeat;
	cursor: default;	
}

#palco {
	position:absolute;
	left:50%;		
	top:50%;
	margin-left: -400px;
	margin-top: -300px;
	width: 800px;
	height: 600px;
}

.camada {
	position: absolute;
	width: 800px;
	height: 600px;
}

#creditos.camada {
	background-image: url("../imgs/creditos.png");
}

#derrota.camada {
	background-image: url("../imgs/derrota.png");	
}

#vitoria.camada {
	background-image: url("../imgs/vitoria.png");	
}

#finalDeJogo.camada {
	background-image: url("../imgs/finalDeJogo.png");	
}

.circulado {
	border-radius : 10px;
	border: 3px solid red;
}

.botaoMenu {
	position: absolute;
	width: 150px;
	height: 150px;
}

.botaoJogo, .botaoCreditos {
	position: absolute;
	width: 100px;
	height: 100px;
}

#botaoSom {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 25px;
}

#slider {
	position: absolute;
	width: 100px;
	height: 5x;
	top: 53px;
}

#controleDeSom {
	position: absolute;
	top: 0px;
	left: 697px;	
	width: 200px;	
}

.peca {
	color: #555;
	font-size: 1.1em;
	text-align: center;
	position: absolute;
	width: 66px;
	height: 36px;
	/*background: #eee;
	border:1px solid #ddd;*/
	background-image: url("../imgs/peca.png");
	line-height: 30px;

	transition-property:  top, left;
	transition:transform 1s, 2s;	
	transition-delay: 0s, 0s;
	
	-moz-transition:-moz-transform 1s, 2s;
	-moz-transition-property:  top, left;
	-moz-transition-delay: 0s, 0s;
	
	-webkit-transition-property: top, left;
	-webkit-transition-duration: 1s, 2s;
	-webkit-transition-delay: 0s, 0s;

	-o-transition-property:  top, left;
	-o-transition-duration: 1s, 2s;
	-o-transition-delay: 0s, 0s;

	-ms-transition-property:  top, left;
	-ms-transition-duration: 1s, 2s;	
	-ms-transition-delay: 0s. 0s;
}

.pecaSelecionada {
	background-image: url("../imgs/pecaSelecionada.png");	
}

.pecaDica {	
	background-image: url("../imgs/pecaDica.png");
}

#areaDasPecas {
	position: absolute;
	left: 5px;
	top: 65px;
	width: 792px;
	height: 432px;
}

#colunaLateral {
	position: absolute;
	left: 500px;
	width: 100px;
	height: 300px;
}

#cronometro {
	background: url("../imgs/fundoTexto.png");
	position: absolute;
	left: 20px;
	top: 20px;
	width: 156px;
	height: 42px;
	text-align: center;
}

#barraCronometro {
	background: url("../imgs/barraCronometro.png");
	position: absolute;
	left: 4px;
	top: 4px;
	width: 148px;
	height: 34px;
}

#textoCronometro {
	position: absolute;
	top: 12px;
	width: 156px;
	height: 42px;
	text-align: center;

}

#pontuacao {
	position: absolute;
	background: url("../imgs/fundoTexto.png");
	left: 400px;
	top: 20px;
	padding-top: 12px;
	width: 156px;
	height: 30px;
	text-align: center;
}

#niveis {
	position: absolute;
	background: url("../imgs/fundoTexto.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 200px;
	top: 20px;
	padding-top: 12px;
	width: 172px;
	height: 30px;
	text-align: center;
}

#jogar.botaoMenu {
	top: 400px;
	left: 200px;
	background-image: url("../imgs/botaoJogar.png");
}

#creditos.botaoMenu {
	top: 400px;
	left: 500px;
	background-image: url("../imgs/botaoCreditos.png");
}

#tutorial.botaoMenu {
	top: 150px;
	left: 0px;
	width: 200px;
	height: 200px;
	background-image: url("../imgs/botaoTutorial.png");	
}

#comGravidade.botaoMenu {
	top: 150px;
	left: 300px;

	/* Antigo
	top:150px;
	left: 150px;
	*/
	width: 200px;
	height: 200px;
	background-image: url("../imgs/botaoComGravidade.png");	
}

#semGravidade.botaoMenu {

	top: 150px;
	left: 600px;
	/*
	top: 150px;
	left: 450px;
	*/
	width: 200px;
	height: 200px;
	background-image: url("../imgs/botaoSemGravidade.png");
}

#voltar.botaoMenu {
	width: 100px;
	height: 100px;
	top:400px;
	left: 350px;
	background-image: url("../imgs/botaoVoltar.png");
}

#dica.botaoJogo {
	top: 500px;
	left: 350px;
	background-image: url("../imgs/botaoDicaDesabilitado.png");
}

#lembretes.botaoJogo {
	top: 500px;
	left: 30px;
	background: url("../imgs/botaoLembretes.png");
}

#voltar.botaoJogo {
	top: 500px;
	left: 650px;
	background-image: url("../imgs/botaoVoltar.png");
}

#voltar.botaoCreditos {
	top: 480px;
	left: 680px;
	background-image: url("../imgs/botaoVoltar.png");
}

#lembretes.popup {
	position: absolute;
	background: url("../imgs/telaLembrete.png");
	padding-left: 15px;
	width: 648px;
	height: 388px;
	top: 100px;
	left: 70px;
}

#textoTutorial {
	width: 200px;
}

#tutorial.popup {
	position: absolute;
	background: url("../imgs/fundo_tutorial.png");
	padding-left: 15px;
	width: 216px;
	height: 388px;
	top: 100px;
	left: 570px;
}

.botaoTutorial {
	position: absolute;
	background: url(../imgs/botao_tutorial.png);
	width: 62px;
	height: 52px;
}

.botaoTutorial:hover {
	background: url(../imgs/botao_tutorial_selecionado.png);
}

#proximo.botaoTutorial {	
	top: 300px;
	left: 35px;
}

#pular.botaoTutorial {
	top: 300px;
	left: 135px;
}

#colunaDireita {
	text-align: justify;
	position: absolute;
	width: 331px;
	height: 388px;
}

#colunaEsquerda {
	text-align: justify;
	border-left: solid black 1px;
	position: absolute;
	padding-left: 15px;
	left: 331px;
	width: 305px;
	height: 388px;
}

#titulo {
	position: absolute;
	width: 800px;
	height: 600px;
	background-image: url("../imgs/titulo.png");
}

.linha {
	position: absolute;
	background: black;
	border-radius: 1px;
}

.linha-vertical {
	width: 2px;
	height: 36px;
}

.linha-horizontal {
	width: 66px;
	height: 2px;
}

.pull-right {
	float: right;
}

.btn-close {
	background: #fff;
	border-radius: 100%;
	width:15px;
	height: 20px;
	padding-left: 7px;
	border: 5px solid #0071c5;
}

.btn-close > a {
	color:#444;
	text-decoration: none;
	font-weight: bold;	
}