#informacao, #editAnotacao {
    border:0;
    padding:10px;
    font-size:0.9em;
    border:solid 1px #ccc;
    margin:0 0 20px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    resize: none;
    overflow-y: scroll;
    height: 100px;
    width: 97%;
    max-height: 100px;
    min-height: 100px;
}

#informacao:focus, #editAnotacao:focus {
    outline: none !important;
    box-shadow: 0 0 10px #5d4037;
}

#anot {
    font-size: 0.8rem;
    color:#9e9e9e;
}

.modal-btn {
    display: inline-block;
}

.modal .row {
    margin-bottom: auto;
}

.remar-modal {
    text-align: center;
}

.remar-modal .modal-content h4 {
    border-bottom: 1px solid #E0E0E0;
}

.remar-modal .modal-footer a {
    margin-right: 10px !important;
}

.remar-orange {
    background-color: #FF5722 !important;
}

.remar-brown {
    background-color: #5D4037 !important;
}