html, body, .block {
  height: 100%;
}

span h5 {
  margin-right: 10px;
}

pre[class*="language-"] {
  padding: 25px 12px 7px 12px;
}



/* COLORS */
#components nav ul li a:hover,
#components nav ul li.active a,
.remar-orange {
  background-color: #FF5722 !important;
}

.remar-green {
  background-color: #4CAF50 !important;
}

.remar-red {
  background-color: #F70000 !important;
}

.remar-brown {
  background-color: #5D4037 !important;
}

.remar-black {
  background-color: #212121 !important;
}

/* PANELS */
.card-panel {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  box-shadow: none;
}

.card-panel--content {
  margin-top: 20px;
}

/* MODAL */
.remar-modal {
  text-align: center;
}

.remar-modal .modal-content h4 {
  border-bottom: 1px solid #E0E0E0;
}

/* FORM INPUT */
.remar-input--number {
  color: #413c3c;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.remar-input {
  border-bottom: 1px solid #717171 !important;
}

.remar-input + label {
  color: #717171 !important;
}

.remar-input:focus:not([readonly]) + label {
  color: #5D4037 !important;
}

.remar-input:focus {
  border-bottom: 1px solid #5D4037 !important;
  box-shadow: 0 1px 0 0 #5D4037 !important;
}

.remar-input.valid + label {
  color: #5D4037 !important;
}

.remar-input.valid {
  border-bottom: 1px solid #5D4037 !important;
  box-shadow: 0 1px 0 0 #5D4037 !important;
}

.remar-input.invalid + label {
  color: #F70000 !important;
}

.remar-input.invalid {
  border-bottom: 1px solid #F70000 !important;
  box-shadow: 0 1px 0 0 #F70000 !important;
}

label .required-indicator {
  color: #F70000 !important;
}

/* NAVBAR */
body nav {
  display: flex;
  flex-grow: 1;
}

nav img.logo {
  width: 250px;
}

.nav-logo {
  height: 112px;
  width: 16.666%;
  padding: 14px 25px;
}

.nav-content-container {
  display: flex;
  flex-direction: column;
  width: 83.3333%;
}

.nav-content {
  position: absolute;
  bottom: 0px;
}

/* PAGE FOOTER */
.page-footer {
  height: 15%;
  background-color: #5D4037 !important;
}

.footer-copyright {
  background-color: #FF9845 !important;
  position: absolute;
}

/* ETC */
.box {
 height: 100px;
 width: 100px;
 margin: auto;
}

.link {
 color: #FF5722;
}

.link:hover {
 color: #FF7043
}

.content-container {
  padding: 0 100px !important;
  background-color: #FCFCFC;
  z-index: 0;
}

.header {
  color: #5D4037 !important;
}

/* COMPONENTS CONTENT TAB */
#components {
  display: flex;
  flex-direction: column;
}

#components nav {
  background-color: #FF9845 !important;
  z-index: 2;
}

#components nav a {
  transition: none;
}
