body {
  margin: 20px;
  background-color: #E6E6E6;
}

span h5 {
  margin-right: 10px;
}

.remar-orange {
  background-color: #FF5722 !important;
}

.remar-green {
  background-color: #4CAF50 !important;
}

.remar-red {
  background-color: #F70000 !important;
}

.remar-brown {
  background-color: #5D4037 !important;
}

.remar-black {
  background-color: #212121 !important;
}

.box {
  height: 100px;
  width: 100px;
  margin-left: 20px;
}

.color-code {
  margin-top: 0.5em;
}

.card-panel {
  margin: 0;
}

.card-panel--header {
  margin: 0px;
}

.card-panel--content {
  margin-top: 20px;
}

.remar-modal {
  text-align: center;
}

.remar-modal .modal-content h4 {
  border-bottom: 1px solid #E0E0E0;
}

.link {
  color: #FF5722;
}

.link:hover {
  color: #FF7043
}

.container {
  width: 48%;
  margin: 1%;
}
