//
   Created by renerbaffa on 20/11/15.

header
    .navbar-fixed
        nav.dark-brown
            .container.menu
                .nav-wrapper
                    ul.left.hide-on-med-and-down
                        li.logo
                            a(href="/")
                                img(src="/images/logo-remar-branco-transparente.png")
                    ul.right.hide-on-large-only
                        li.logo
                            a(href="/")
                                img.logo-min(src="/images/favicon.png")
                    ul#top-nav-menu.right.hide-on-med-and-down