//
   Created by renerbaffa on 21/11/15.

//menu for the index page
aside#left-sidebar-nav
  ul#slide-out.side-nav.leftside-navigation.ps-container.ps-active-y
    +mini-menu("/", "GT-REMAR", "help")
    +mini-menu("/info", "Mais informações", "info")
    +mini-menu("https://remar.readme.io/docs", "Documentação", "description")
    +mini-menu("/login", "Entrar", "input")
