//
 Created by renerbaffa on 20/11/15.
script
  include ../../client/javascripts/menu.js

header
  .navbar-fixed
    nav.dark-brown
      .nav-wrapper
        //menu for large displays
        ul.left.hide-on-med-and-down
          li.logo
            a(href="/")
              img(src="/images/logo/logo-remar-branco-transparente.png")
        ul.right.hide-on-med-and-down
          li
            a(href="#" data-activates="settings-dropdown").dropdown-button
              i.material-icons settings

            //settings dropdown
            ul#settings-dropdown.collection.settings-menu
              li.collection-item
                a(href="#").my-black.setting-item
                  i.material-icons.left code
                  | Tornar-se um desenvolvedor
              li.collection-item
                a(href="#").my-black.setting-item
                  i.material-icons.left school
                  | Vincular conta ao Moodle
          li.user
            a(href="#" data-activates="user-dropdown").dropdown-button.fixed-height
              img(src="http://demo.geekslabs.com/materialize/v2.1/layout01/images/avatar.jpg").circle.responsive-img

            //user dropdown
            ul#user-dropdown.collection.user-menu
              li.collection-item
                .row.valign-wrapper.no-margin-bottom
                  .col.s8.center
                    p.title Rener Baffa
                    p.my-secondary renerbaffa@gmail.com
                  .col.s4
                    img(src="http://demo.geekslabs.com/materialize/v2.1/layout01/images/avatar.jpg").circle.responsive-img
              li.collection-item.footer.right
                a(href="#").btn-flat.waves-effect.my-orange.white-text
                  i.material-icons.left.line-height-fixed power_settings_new
                  | Sair
        //end of menu for large displays


        //menu for small and medium displays
        ul.hide-on-large-only
          li.logo.left
            a(data-activates="slide-out").button-collapse.menu-sidebar-collapse.my-btn
              i.mdi-navigation-menu
          li.logo.right
            a(href="/").padding-right
              img.logo-min(src="/images/favicon.png")

        //mixin to create the menu for small and medium displays
        mixin mini-menu-material(href, name, icon)
          li
            a.waves-effect(href=href)
              i.material-icons= icon
              = name

        mixin mini-menu-font-awesome(href, name)
          li
            a.waves-effect(href=href)
              i.fa(class!=attributes.class)
              = name

//start main
#main
  #wrapper
    //left navbar
    aside#left-sidebar-nav
      ul#slide-out.side-nav.fixed.leftside-navigation
        +mini-menu-material("/dashboard", "Home", "description")
        +mini-menu-font-awesome("/login", "Entrar")(class="fa-sign-in")
        +mini-menu-font-awesome("/logout", "Sair")(class="fa-sign-out")
