.but {
    display: inline-block;
    background: #e6e6e6;
    width: 70px;
    height:60px;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 5px;
    border-radius:10px 10px 10px 10px;
    position:relative;
    top: 50%;
    left: 15%;
    margin:2px;
}

.but:hover {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
}

.but-edit{
    display: inline-block;
    background: #e6e6e6;
    width: 70px;
    height:60px;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 5px;
    border-radius:10px 10px 10px 10px;
    position:relative;
    top: 50%;
    margin:20px;
    left: 37%;

}
.but-edit:hover{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
}



.form-inline{
    display: inline-block;
    background-color: rgb(255, 0, 1);
}

.resizedTextbox {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 37%;
    text-align: center;
}

.arrowright {
    background: #2C2C2C;
    font-size: 12px;
    position: relative;
    width: 1em;
    height: 1em;
    margin-left: -0.7em;
}

.arrowright::before {
    bottom: -0.666em;
    left: 0.8em;
    position: absolute;
    border-left: 1.2em solid #2C2C2C;
    border-top: 1.2em solid rgba(44, 44, 44, 0);
    border-bottom: 1.2em solid rgba(44, 44, 44, 0);
    content: "";
}

.arrowleft {
    background: #2C2C2C;
    font-size: 12px;
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: -0.7em;
}

.arrowleft::before {
    bottom: -0.66666666em;
    right: 0.8em;
    position: absolute;
    border-right: 1.2em solid #2C2C2C;
    border-top: 1.2em solid rgba(44, 44, 44, 0);
    border-bottom: 1.2em solid rgba(44, 44, 44, 0);
    content: "";
}


.myButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-align: center;
    font-size:24px;
    width: 80px;
    height: 70px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    position: relative;
    top: 50%;
    left: 10%;
    margin:2px;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}



.myButton2 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    text-align: center;
    font-size:24px;
    width: 80px;
    height: 70px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    position: relative;
    top: 50%;
    left: 10%;
    margin:2px;
}
.myButton2:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}

.myButton3 {
    background-color:#7892c2;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-align: center;
    font-size:24px;
    width: 80px;
    height: 70px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    position: relative;
    top: 50%;
    left: 10%;
    margin:2px;
}
.myButton3:hover {
    background-color:#476e9e;
}

.myButton4 {
    background-color: rgba(8, 8, 28, 0.47);
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:1px solid rgba(76, 76, 76, 0.81);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    text-align: center;
    font-size:24px;
    width: 80px;
    height: 70px;
    text-shadow:0px 1px 0px rgba(6, 6, 16, 0.76);
    position: relative;
    top: 50%;
    left: 10%;
    margin:4px;
}
.myButton4:hover {
    background-color: rgba(76, 76, 76, 0.78);
}

